<div class="header-div">
	<section class="contact-section">
		<div class="contact-div">
			<ul class="contact-line">
				<li><img src="/assets/icons/whatsapp.png" class="tiny-icon"> +34 630901664</li>
				<li><img src="/assets/icons/mail.png" class="tiny-icon"> mh.torremolinos&#64;gmail.com</li>
			</ul>
		</div>
	</section>
	<section class="nav-section">
		<div class="nav-div">
			<div class="nav-items" [routerLink]="['']" routerLinkActive="active">Inicio</div>
			<div class="nav-items" [routerLink]="['']" routerLinkActive="active">Galeria</div>
			<div class="nav-items" [routerLink]="['']" routerLinkActive="active"><h3 class="nav-title">M&H Torremolinos</h3></div>
			<div class="nav-items" [routerLink]="['booking']" routerLinkActive="active">Calendario</div>
			<div class="nav-items" [routerLink]="['']" routerLinkActive="active">Contacto</div>
		</div>
	</section>
</div>